header {
    display: flex;
    background-color: rgb(194, 92, 245);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
}

header div.logo {
    background-color: rgb(87, 1, 113);
    height: 60px;
    width: 60px;
}



header > nav {
    display: flex;
    gap: 18px;
    align-items: center;
    width: 50%;
}

button {
    padding: 8px 12px;
    background-color: #847b7b;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px 0px black;
    border-radius: 16px;
    font-size: 12px;
    font-family: tahoma;}

button:hover {
    background-color: #575151;
}

button:active {
    background-color: rgb(87, 1, 113);
}

button.navLink {

}